:root {
    --title_font: 'Verdana', 'DejaVu Sans', sans-serif;
    --body_font: 'Verdana', 'DejaVu Sans', sans-serif;
	--title_colour: orangered;
	--logo_weight: 700;
    --button_radius: 5px;
    --global_radius: 5px;
    --display_pattern: repeating-linear-gradient(-45deg, white, white 2em, whitesmoke 2em, whitesmoke 4em);
}

body {
	font-family: var(--body_font);
	font-display: swap;
	font-size: 1em;
	line-height: 1.75;
	position: relative;
}

h1,h2,h3,h4 {
	font-family: var(--title_font);
	font-weight: 700;
	line-height: 1.75;
}

a {
	color: brown;
	text-decoration: none;
	transition: 0.2s;
}
a:hover {
	color: crimson;
	text-decoration: underline;
	transition: 0.2s;
}

.container {
	max-width: 800px;
}

.lead {
	font-weight: 400;
}

#jumbotron-title {
	/* display: inline; */
	font-weight: var(--logo_weight);
}

#beta-badge {
	font-family: var(--body_font);
	display: inline;
}

.navbar-brand {
	font-family: var(--title_font);
	font-size: 1.5em;
	font-weight: var(--logo_weight);
	color: var(--title_colour);
}

.section {
	margin-top: 3em;
	margin-bottom: 3em;
}

#footer {
	max-width: 380px;
}
