:root {
	--HEADER-FONT-FAMILY: Besley, Helvetica, Arial, sans-serif;
	--CONTENT-FONT-FAMILY: Standard, Helvetica, Arial, sans-serif;
}

html, body {
	display: flex;
	flex-flow: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 380px;
	height: 100%;
	margin: auto;
	padding: 0;
	background: whitesmoke;
	font-family: var(--CONTENT-FONT-FAMILY);
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
}

h1, h2, h3, h4, h5 {
	font-family: var(--HEADER-FONT-FAMILY);
	color: brown;
}

a {
	color: brown;
}

.logo {
	pointer-events: none;
}